In [1]:
dict1={"Name": ["mridul","ricky","sonal","mohit",],
       "age":[26,20,None,25],
       "height":[5.8,5.9,5.5,None],
       "places":[None,"ropar","kota","kota"]
      }

In [2]:
import pandas as pd
df=pd.DataFrame(dict1)
df.isnull().sum()#calculates no. of missing values

Name      0
age       1
height    1
places    1
dtype: int64

In [3]:

df["age"]=df["age"].fillna(df["age"].mean())
#we could use .dropna to delete entire row
print(df)

     Name        age  height places
0  mridul  26.000000     5.8   None
1   ricky  20.000000     5.9  ropar
2   sonal  23.666667     5.5   kota
3   mohit  25.000000     NaN   kota

In [5]:

df["height"]=df["height"].fillna(df["height"].mean())
print(df)

     Name        age    height places
0  mridul  26.000000  5.800000   None
1   ricky  20.000000  5.900000  ropar
2   sonal  23.666667  5.500000   kota
3   mohit  25.000000  5.733333   kota

In [6]:
df["places"]=df["places"].fillna(df["places"].value_counts().index[0])
df#index=0 value counts most values in column

     Name        age    height places
0  mridul  26.000000  5.800000   kota
1   ricky  20.000000  5.900000  ropar
2   sonal  23.666667  5.500000   kota
3   mohit  25.000000  5.733333   kota

In [7]:
test = pd.Series(range(6))
test.loc[2:4]=np.nan
test

NameError: name 'np' is not defined

In [ ]:
test.fillna(method='ffill')#orbfill

In [ ]:
test.interpolate()

In [ ]:
X = pd.DataFrame({'Shape':['square', 'square', 'oval', 'circle', np.nan]})
X

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
x=imputer.fit_transform(X)
x

In [ ]:
df=pd.DataFrame(x)
df

In [ ]:
imputer=SimpleImputer(strategy="constant",fill_value='missing')
imputer.fit_transform(X)

In [ ]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)
cols = ['SibSp', 'Fare', 'Age']
print(cols)
X = df[cols]
X

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
impute_it = IterativeImputer()
impute_it.fit_transform(X)
#uses age as label adn others as features to predict missing age

In [ ]:
from sklearn.impute import KNNImputer
impute_knn = KNNImputer(n_neighbors=2)
impute_knn.fit_transform(X)
#here neighbour size 2
#so uses 2 nearest values of other features to calculate mean for the age
#here 3rd and 5th row used

In [ ]:
import pandas as pd
import numpy as np
X = pd.DataFrame({'Age':[20, 30, 10, np.nan, 10]})
X

In [ ]:
from sklearn.impute import SimpleImputer

imputer=SimpleImputer()
imputer.fit_transform(X)

In [ ]:
imputer=SimpleImputer(add_indicator=True)
imputer.fit_transform(X)# new features representing missing values