In [1]:
# conditional probability
# p(a/b)=(p(b/a)*p(a))/p(b)

In [2]:
# naive assumption that all variables are independent

# Types of Naive bayes
### 1.Binomial N.B = features have on;y 2 values 1,0
### 2. Multinomial N.B = for discrete data
### 3. Gaussian N.B = for continous normal distribution

In [3]:
import pandas as pd
df=pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis=1,inplace=True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [5]:
df.Survived.values

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [7]:
df.Age=df.Age.fillna(df.Age.mean())

In [8]:
df.Sex=df.Sex.map({"male":1,"female":0})
df

     Survived  Pclass  Sex        Age     Fare
0           0       3    1  22.000000   7.2500
1           1       1    0  38.000000  71.2833
2           1       3    0  26.000000   7.9250
3           1       1    0  35.000000  53.1000
4           0       3    1  35.000000   8.0500
..        ...     ...  ...        ...      ...
886         0       2    1  27.000000  13.0000
887         1       1    0  19.000000  30.0000
888         0       3    0  29.699118  23.4500
889         1       1    1  26.000000  30.0000
890         0       3    1  32.000000   7.7500

[891 rows x 5 columns]

In [9]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop("Survived",axis=1),df.Survived,test_size=0.2,random_state=42)

In [11]:
type(x_train)

pandas.core.frame.DataFrame

In [12]:
nb.fit(x_train,y_train)

GaussianNB()

In [13]:
nb.score(x_test,y_test)

0.7597765363128491

In [14]:
nb.predict(x_test)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1], dtype=int64)

In [15]:
nb.predict_proba(x_test)

array([[9.68381665e-01, 3.16183353e-02],
       [9.34083216e-01, 6.59167837e-02],
       [9.62361176e-01, 3.76388239e-02],
       [1.40106251e-01, 8.59893749e-01],
       [3.53054184e-01, 6.46945816e-01],
       [2.09857105e-02, 9.79014289e-01],
       [4.28982183e-01, 5.71017817e-01],
       [9.58910628e-01, 4.10893721e-02],
       [3.64517859e-01, 6.35482141e-01],
       [7.47523827e-02, 9.25247617e-01],
       [7.06269638e-01, 2.93730362e-01],
       [9.65820350e-01, 3.41796500e-02],
       [4.25822697e-01, 5.74177303e-01],
       [9.67625160e-01, 3.23748400e-02],
       [9.35018976e-01, 6.49810238e-02],
       [5.88030622e-02, 9.41196938e-01],
       [7.00485824e-01, 2.99514176e-01],
       [4.29097533e-01, 5.70902467e-01],
       [9.32238477e-01, 6.77615233e-02],
       [6.85548075e-01, 3.14451925e-01],
       [9.65301389e-01, 3.46986109e-02],
       [7.97158833e-01, 2.02841167e-01],
       [3.84896262e-01, 6.15103738e-01],
       [9.62612343e-01, 3.73876567e-02],
       [9.68368310e-01, 3.16316904e-02],
       [9.46680776e-01, 5.33192241e-02],
       [7.91213762e-01, 2.08786238e-01],
       [9.34535580e-01, 6.54644205e-02],
       [9.30655272e-01, 6.93447276e-02],
       [4.31347595e-01, 5.68652405e-01],
       [9.61424272e-01, 3.85757281e-02],
       [4.01705056e-01, 5.98294944e-01],
       [7.87349637e-01, 2.12650363e-01],
       [4.28685755e-01, 5.71314245e-01],
       [9.60440924e-01, 3.95590764e-02],
       [9.67500622e-01, 3.24993776e-02],
       [7.73720218e-01, 2.26279782e-01],
       [4.28982183e-01, 5.71017817e-01],
       [8.49825525e-02, 9.15017448e-01],
       [9.67680247e-01, 3.23197530e-02],
       [7.77511125e-01, 2.22488875e-01],
       [9.67324929e-01, 3.26750712e-02],
       [9.67708239e-01, 3.22917608e-02],
       [9.67653240e-01, 3.23467599e-02],
       [4.16090938e-01, 5.83909062e-01],
       [9.53443012e-01, 4.65569881e-02],
       [9.61480365e-01, 3.85196345e-02],
       [9.64915432e-01, 3.50845682e-02],
       [9.65125738e-01, 3.48742624e-02],
       [6.50567756e-02, 9.34943224e-01],
       [2.71943686e-01, 7.28056314e-01],
       [7.94993662e-03, 9.92050063e-01],
       [9.66359978e-01, 3.36400217e-02],
       [4.01618102e-02, 9.59838190e-01],
       [9.32330093e-01, 6.76699067e-02],
       [1.71184817e-02, 9.82881518e-01],
       [9.34389573e-01, 6.56104273e-02],
       [1.22586636e-10, 1.00000000e+00],
       [2.64194671e-01, 7.35805329e-01],
       [3.84931108e-01, 6.15068892e-01],
       [9.63178568e-01, 3.68214321e-02],
       [1.96343489e-01, 8.03656511e-01],
       [2.51824317e-01, 7.48175683e-01],
       [7.94905322e-01, 2.05094678e-01],
       [9.67653240e-01, 3.23467599e-02],
       [1.89056480e-01, 8.10943520e-01],
       [7.77511125e-01, 2.22488875e-01],
       [9.67486894e-01, 3.25131061e-02],
       [9.59137949e-01, 4.08620507e-02],
       [1.76910120e-02, 9.82308988e-01],
       [2.47092089e-01, 7.52907911e-01],
       [8.12593422e-12, 1.00000000e+00],
       [7.81658889e-01, 2.18341111e-01],
       [1.77563868e-02, 9.82243613e-01],
       [9.64665006e-01, 3.53349941e-02],
       [9.68898570e-01, 3.11014301e-02],
       [4.30428167e-01, 5.69571833e-01],
       [5.54255778e-02, 9.44574422e-01],
       [2.63739086e-01, 7.36260914e-01],
       [4.28511313e-01, 5.71488687e-01],
       [9.49473953e-01, 5.05260466e-02],
       [2.59558165e-01, 7.40441835e-01],
       [4.79405900e-04, 9.99520594e-01],
       [9.67650900e-01, 3.23490998e-02],
       [7.17605746e-01, 2.82394254e-01],
       [4.60869449e-01, 5.39130551e-01],
       [2.76648267e-03, 9.97233517e-01],
       [5.05835027e-02, 9.49416497e-01],
       [7.87569814e-01, 2.12430186e-01],
       [9.67556623e-01, 3.24433775e-02],
       [9.46953867e-01, 5.30461326e-02],
       [2.91996959e-01, 7.08003041e-01],
       [6.70068641e-01, 3.29931359e-01],
       [9.67649344e-01, 3.23506556e-02],
       [9.67680247e-01, 3.23197530e-02],
       [9.67164196e-01, 3.28358044e-02],
       [6.80738688e-01, 3.19261312e-01],
       [9.65250737e-01, 3.47492626e-02],
       [2.65437938e-01, 7.34562062e-01],
       [9.66795633e-01, 3.32043672e-02],
       [6.52483904e-01, 3.47516096e-01],
       [9.68116148e-01, 3.18838516e-02],
       [9.69601383e-03, 9.90303986e-01],
       [9.67773872e-01, 3.22261285e-02],
       [9.67892118e-01, 3.21078819e-02],
       [9.65839094e-01, 3.41609063e-02],
       [2.23409885e-01, 7.76590115e-01],
       [7.46845390e-01, 2.53154610e-01],
       [9.68015689e-01, 3.19843111e-02],
       [7.85535291e-01, 2.14464709e-01],
       [5.78804841e-02, 9.42119516e-01],
       [9.62647765e-01, 3.73522348e-02],
       [1.29760284e-02, 9.87023972e-01],
       [7.97192907e-01, 2.02807093e-01],
       [4.19469493e-07, 9.99999581e-01],
       [9.62715523e-01, 3.72844769e-02],
       [5.35002312e-01, 4.64997688e-01],
       [9.35003409e-01, 6.49965908e-02],
       [2.29338139e-01, 7.70661861e-01],
       [3.69909866e-01, 6.30090134e-01],
       [9.27814021e-01, 7.21859792e-02],
       [2.49070112e-02, 9.75092989e-01],
       [1.17310897e-02, 9.88268910e-01],
       [8.38047739e-01, 1.61952261e-01],
       [9.65732314e-01, 3.42676862e-02],
       [7.97140302e-01, 2.02859698e-01],
       [7.64908194e-02, 9.23509181e-01],
       [4.48383326e-01, 5.51616674e-01],
       [4.34638978e-01, 5.65361022e-01],
       [9.63235605e-01, 3.67643952e-02],
       [4.29169759e-01, 5.70830241e-01],
       [9.68381665e-01, 3.16183353e-02],
       [9.28211298e-01, 7.17887023e-02],
       [2.72168524e-01, 7.27831476e-01],
       [6.43005874e-01, 3.56994126e-01],
       [3.62403489e-01, 6.37596511e-01],
       [3.26284726e-03, 9.96737153e-01],
       [9.67468271e-01, 3.25317291e-02],
       [9.66673675e-01, 3.33263255e-02],
       [3.83506045e-01, 6.16493955e-01],
       [9.63311588e-01, 3.66884123e-02],
       [2.43875622e-01, 7.56124378e-01],
       [9.32979320e-01, 6.70206798e-02],
       [9.32455407e-01, 6.75445931e-02],
       [4.18275218e-01, 5.81724782e-01],
       [2.45860752e-01, 7.54139248e-01],
       [9.34125304e-01, 6.58746958e-02],
       [8.59844829e-01, 1.40155171e-01],
       [1.55121639e-04, 9.99844878e-01],
       [9.66325665e-01, 3.36743347e-02],
       [9.67821862e-01, 3.21781382e-02],
       [9.65220691e-01, 3.47793090e-02],
       [9.60384437e-01, 3.96155629e-02],
       [4.28056654e-01, 5.71943346e-01],
       [9.67708239e-01, 3.22917608e-02],
       [9.67516233e-01, 3.24837675e-02],
       [9.42159257e-01, 5.78407429e-02],
       [4.29036943e-01, 5.70963057e-01],
       [2.58109757e-01, 7.41890243e-01],
       [4.38215960e-01, 5.61784040e-01],
       [9.64857898e-01, 3.51421020e-02],
       [7.94087309e-01, 2.05912691e-01],
       [9.34061809e-01, 6.59381910e-02],
       [1.86273709e-02, 9.81372629e-01],
       [9.67779535e-01, 3.22204645e-02],
       [4.51911560e-01, 5.48088440e-01],
       [9.27578195e-01, 7.24218049e-02],
       [5.80867339e-02, 9.41913266e-01],
       [9.63975354e-01, 3.60246457e-02],
       [9.68101151e-01, 3.18988492e-02],
       [6.08548165e-01, 3.91451835e-01],
       [2.23501836e-01, 7.76498164e-01],
       [7.97062049e-01, 2.02937951e-01],
       [3.11454684e-01, 6.88545316e-01],
       [9.59111768e-01, 4.08882322e-02],
       [9.67551628e-01, 3.24483716e-02],
       [4.13877226e-01, 5.86122774e-01],
       [2.17288866e-01, 7.82711134e-01],
       [2.62859229e-01, 7.37140771e-01]])

In [16]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train, y_train, cv=5)

array([0.8041958 , 0.81818182, 0.73943662, 0.73239437, 0.80985915])

# Spam Detection

In [17]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [19]:
df["Category"].unique()

array(['ham', 'spam'], dtype=object)

In [20]:
df.Category.count()

5572

In [21]:
df.groupby("Category").count()

          Message
Category
ham          4825
spam          747

In [22]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [23]:
df.Category=df.Category.apply(lambda x: 1 if x=="spam" else 0)
df.Category.unique()
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.Category,test_size=0.2,random_state=42)
len(x_train)

4457

##  count vectorization

In [25]:
# find unique words in all the messages
# treat unique words as features for a matrix where rows will represnt a message

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train_count=cv.fit_transform(x_train)
x_train_count.toarray() #shows behind the scenes content

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [27]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [28]:
len(x_test)

1115

In [29]:
len(y_test)

1115

In [30]:
x_test_count=cv.transform(x_test)

In [31]:
model.score(x_test_count,y_test)

0.9919282511210762

In [32]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = cv.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

# using api

In [33]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [34]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [37]:
clf.score(x_test,y_test)

0.9919282511210762

In [36]:
clf.predict(emails)

array([0, 1], dtype=int64)

# Exercise 2